{% extends "./partials/layout.html" %}

{% block head %}
{% endblock %}


{% block body %}
<h1>Task Info</h1>
<br><br>
<style>
    input::placeholder {color:black;}
    input::-ms-input-placeholder {color: black;}
    input::-webkit-input-placeholder {color:black;}    
    input::-moz-placeholder {color:black} 

    textarea::placeholder {color:black;}
    textarea::-ms-input-placeholder {color: black;}
    textarea::-webkit-input-placeholder {color:black;}    
    textarea::-moz-placeholder {color:black} 
</style>

<div class="form-group">
    <label class="form-group col-md-2">Task Name</label>
    <input placeholder="{{tasks['TaskName']}}" type="text" class="form-group col-md-2" disabled>
</div>
<div class="form-group">
    <label class="form-group col-md-8">Description</label>
    <textarea cols="30" rows="5" placeholder="{{tasks['Description']}}" type="text" class="form-group col-md-11" disabled></textarea>
</div>

<div class="form-group">
    <label style="font-weight: bold" class="form-group col-md-2">평가자 채점 기준</label>
    <input placeholder="{{tasks['PassCriteria']}}" type="text" class="form-group col-md-9" disabled>
</div>

<div class="form-group">
    <label class="form-group col-md-2">최소 업로드 주기</label>
    <input placeholder="{{tasks['MinPeriod']}}" type="text" class="form-group col-md-2" disabled>
</div>
<div class="form-group">
    <label class="form-group col-md-2">태스크 상태</label>
    <input placeholder="{{tasks['Status']}}" type="text" class="form-group col-md-2" disabled>
</div>
<!-- TODO Sync with admin/task_info -->
<div class="form-group">
    <label style="vertical-align: middle;" class="form-group col-md-2">스키마 정보</label>
    {% for schema in tasks['TaskDataTableSchemaInfo'].split(',') %}
    <input placeholder="{{ schema[8:] }}" type="text" class="form-group col-md-2" disabled>
    {% endfor %}
</div>
<br><br><br><br><br>
{% endblock %}

