{% extends "./partials/layout.html" %}

{% block head %}
{% endblock %}


{% block body %}
<!-- <div include-html="/partials/navbar.html">
</div> -->

<style media="screen">
    .wrap{
      width: 1000px;
      height: 500px;
      overflow-x: scroll;
      white-space:nowrap;
      overflow: auto;
    }
    .wrap img{
        width:300px;
        height:100%;
    }
</style>
<head>
    <Title >font</Title>
    <meta charset="utf-8">
    <link href='../style.css' rel='stylesheet' >
</head>

<body style="font-family:NanumSquare">
<h3> 평가 완료 목록</h3>
<div class="container screen wrap">
    <br><br> 
    <table class="table table-striped table-bordered" id="target-table">
        <thead>
            <th>Index</th>
            <th>태스크명</th>
            <th>원본 데이터 타입명</th>
            <th>제출자 ID</th>
            <th>기간</th>
            <th>회차</th>
            <th>품질점수</th>
            <th>P/NP</th>
            <th>평가날짜</th>
            <th>파일명</th>
        </thead>
        <tbody>
            {%for task in tasks%}
            <tr>
                <td>{{loop.index}}</td>
                <td>
                    <a href="/estimator/estimator_task_info?task_name={{task['TaskName']}}">{{task["TaskName"]}}</a>
                </td>
                <td>{{task["DataTypeName"]}}</td>
                <td>{{task["SubmitterID"]}}</td>
                <td>{{task["Period"]}}</td>
                <td>{{task["Round"]}}</td>
                <td>{{task["Score"]}}</td>
                <td>{{task["Pass"]}}</td>
                <td>{{task["EndTime"]}}</td>
                <td>{{task["ParsingFile"].split('/')[-1]}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
</body>

<!-- <div class="row align-items-end container">
    <a type="button" class="btn btn-primary ml-auto" href="/estimator">대기 목록으로</a>
</div> -->

{% endblock %}