{% extends "./partials/layout.html" %} {% block body %}

<!-- form 제출로 묶어서 Task 추가되도록 설정해야함 -->

<h1 class="d-inline-block">Task Info</h1>
<!-- task 삭제 설정해야 함 -->
<style>
  input::placeholder {
    color: black;
  }
  input::-ms-input-placeholder {
    color: black;
  }
  input::-webkit-input-placeholder {
    color: black;
  }
  input::-moz-placeholder {
    color: black;
  }

  textarea::placeholder {
    color: black;
  }
  textarea::-ms-input-placeholder {
    color: black;
  }
  textarea::-webkit-input-placeholder {
    color: black;
  }
  textarea::-moz-placeholder {
    color: black;
  }

  .pill {
    border-radius: 3px;
    border: 1px solid black;
    display: inline-block;
    padding: 5px;
    margin-bottom: 3px;
    margin-right: 3px;
  }
</style>
<script>
  const defaultFields = [
      {% set defaultFields = task['TaskDataTableSchemaInfo'].split(',') %}
      {% for field in defaultFields %}
        '{{ field }}',
      {% endfor %}
    ]
</script>
<form id="app" method="POST" action="/admin/tasks/{{ task['TaskName'] }}">
  <!-- TODO template task info -->
  <div class="form-group">
    <label class="form-group">TaskName</label>
    <input
      name="Description"
      value="{{ task['TaskName'] }}"
      type="text"
      class="form-control form-input"
      disabled
    />
  </div>
  <div class="form-group">
    <label class="form-group">Description</label>
    <input
      name="Description"
      value="{{ task['Description'] }}"
      type="text"
      class="form-control form-input"
      required
    />
  </div>
  <div class="form-group">
    <label class="form-group">최소 업로드 주기</label>
    <input
      name="MinPeriod"
      value="{{ task['MinPeriod'] }}"
      type="number"
      class="form-control"
      required
    />
  </div>
  <div class="form-group">
    <label class="form-group">테이블 이름</label>
    <input
      name="TaskDataTableName"
      value="{{ task['TaskDataTableName'] }}"
      type="text"
      class="form-control"
      disabled
    />
  </div>
  <div class="form-group">
    <label class="form-group">스키마(기본 데이터 필드)</label>
    <br />
    {% for schema in task['TaskDataTableSchemaInfo'].split(',') %}
    <div class="pill">{{ schema }}</div>
    {% endfor %}
  </div>
  <div class="form-group">
    <label class="form-group">최대 중복 Tuple 비율(%)</label>
    <input
      name="MaxDuplicatedRowRatio"
      value="{{ task['MaxDuplicatedRowRatio'] }}"
      type="number"
      min="0"
      max="100"
      class="form-control"
      required
    />
  </div>
  <div class="form-group">
    <label class="form-group">최대 column별 null 비율(%)</label>
    <input
      name="MaxNullRatioPerColumn"
      value="{{ task['MaxNullRatioPerColumn'] }}"
      type="number"
      min="0"
      max="100"
      class="form-control"
      required
    />
  </div>
  <div class="form-group">
    <label class="form-group">
      <h5><b>평가자 정성평가 Pass 기준설명</b></h5>
    </label>
    <textarea
      cols="30"
      rows="10"
      class="form-control"
      name="PassCriteria"
      required
    >
{{ task['PassCriteria'] }}</textarea
    >
  </div>
  <h4 style="margin-top: 20px"><b>원본 데이터 타입</b></h4>
  <h5><b>원본 데이터 타입 목록</b></h5>
  <table
    style="margin-left: 5px; margin-bottom: 20px"
    class="table table-striped table-bordered"
    id="target-table"
  >
    <thead>
      <th>원본데이터 타입</th>
      <th>제출 파일 수</th>
      <th>Pass된 tuple 수</th>
      <th>매핑정보</th>
    </thead>
    <tbody>
      <tr>
        <td>전체 데이터</td>
        <td>{{ total_file_num }}</td>
        <td>{{ count_row_by_odt["total"] }}</td>
        <td>N/A</td>
      </tr>
      {% for data_type in origin_data_types %}
      <tr>
        <td>{{ data_type['DataTypeName'] }}</td>
        <td>{{ data_type['SubmitNum'] }}</td>
        <td>{{ count_row_by_odt[data_type['idORIGIN_DATA_TYPE']] }}</td>
        <td>
          {% set mappingInfo = data_type['MappingInfo'] %} {% for subField in
          mappingInfo %} {% set defaultField = mappingInfo[subField] %}
          <div class="pill">{{ subField }} - {{ defaultField }}</div>
          {% endfor %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <h5><b>원본 데이터 타입 추가하기</b></h5>
  <div class="form-group">
    <div class="form-row mb-2">
      <div class="col">
        <input
          type="text"
          class="form-control"
          placeholder="원본 데이터 타입 이름"
          v-model="odsfName"
        />
      </div>
    </div>
    <div v-for="(subField, subFieldName) in subFields" class="form-row mb-1">
      <div class="col">
        <input
          type="text"
          class="form-control"
          :value="subFieldName"
          disabled
        />
      </div>
      <div class="col">
        <select name="" id="" class="form-control">
          <option
            v-for="defaultField in defaultFields"
            :selected="defaultField == subField ? 'selected' : null "
          >
            [[ defaultField ]]
          </option>
        </select>
      </div>
      <div class="col">
        <button class="btn btn-danger" type="button" @click="deleteSubField(subFieldName)">x</button>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <input
          type="text"
          class="form-control"
          placeholder="필드 이름"
          v-model="subFieldBuffer"
        />
      </div>
      <div class="col">
        <select name="" id="" class="form-control">
          <option v-for="defaultField in defaultFields">
            [[ defaultField ]]
          </option>
        </select>
      </div>
      <div class="col">
        <button class="btn btn-success" type="button" @click="addSubField(subFieldName, defaultField)">+</button>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-success float-right mb-6">
    추가하기
  </button>

  <!-- 참여현황으로 sort되도록 jquery 적용해야함 -->
  <h5 style="margin-top: 60px"><b>참여명단</b></h5>
  <table
    style="margin-left: 5px; margin-bottom: 20px"
    class="table table-striped table-bordered"
    id="target-table2"
  >
    <thead>
      <th>현황</th>
      <th>참여자ID</th>
      <th>제출자 점수</th>
      <th>승인</th>
      <th>거절</th>
    </thead>
    <tbody>
      {% for participation in task_participation %}
      <tr>
        <td>{{ participation['Status'] }}</td>
        <td>{{ participation['Id'] }}</td>
        <td>{{ participation['UserScore'] }}</td>
        <td>
          {% if participation['Status'] == "waiting" %}
          <a
            id="task_participation"
            href="/admin/tasks/agreement?user_id={{ participation['Id'] }}&task_name={{ task['TaskName'] }}&agree=True"
            name="approve"
            type="submit"
            class="btn btn-primary"
            >승인</a
          >
          {% elif participation['Status'] == "ongoing" %}
          <button type="button" class="btn btn-primary mr-2" disabled>
            참가중
          </button>
          {% endif %}
        </td>
        <td>
          {% if participation['Status'] == "waiting" %}
          <a
            id="task_participation"
            href="/admin/tasks/agreement?user_id={{ participation['Id'] }}&task_name={{ task['TaskName'] }}&agree=False"
            name="reject"
            type="submit"
            class="btn btn-primary"
            >거절</a
          >
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {{ origin_data_types }}
  <br />
  <!-- <button style="margin-left: 10px; margin-top:20px;" type="submit" class="btn btn-primary float-right mb-4">삭제</button> -->
  <button type="submit" class="btn btn-primary float-right">수정</button>
</form>
<style>
  #target-table {
    min-height: 50px;
  }
</style>
<script>
  $(document).ready(function () {
    $("#target-table").DataTable({
      columnDefs: [{ width: "40%", targets: 3 }],
    });
  });
</script>
<script>
  $(document).ready(function () {
    $("#target-table2").DataTable({
      columnDefs: [{ "max-width": "40%", targets: 3 }],
    });
  });
</script>
<script>
  // Errors

  const app = new Vue({
    el: "form#app",
    data: {
      defaultFields: [], // ["defaultField1", "defaultField2"],
      subFields: { subField1: "dateUpdated", subField2: "categories" },
      odsfName: "",
      subFieldBuffer: "",
    },
    created() {
      this.defaultFields = defaultFields;
    },
    methods: {
      submit() {},
      // Senders
      pack() {},
      addSubField(subFieldName, defaultField) {
        if (Object.keys(this.subFields).includes(subFieldName)) {
          alert("이미 존재하는 필드입니다");
        } else if (!this.defaultFields.includes(defaultField)) {
          alert("오류! 해당 기본 필드는 존재하지 않습니다");
        }
        this.subFields[subFieldName] = defaultField;
        // vm.$forceUpdate();
      },
      deleteSubField(subFieldName) {
        if (!Object.keys(this.subFields).includes(subFieldName)) {
          alert("오류! 존재하지 않는 필드 이름입니다");
        }
        Vue.delete(this.subFields, subFieldName);
        // vm.$forceUpdate();
      },
    },
    delimiters: ["[[", "]]"],
  });
</script>
{% endblock %}
