<style media="screen">
  .wrap {
    width: 1080;
    height: 600px;
    overflow-x: scroll;
    white-space: nowrap;
    overflow: auto;
  }

  .wrap img {
    width: 300px;
    height: 100%;
  }
</style>

<!-- ------------ -->
<nav id="navbar-example2" class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">원본 데이터 타입</a>
  <ul class="nav nav-pills">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">목록</a>
      <div class="dropdown-menu">
        <button class="dropdown-item" onclick="openTab(this)" title="total_data_file" id="defaultOpenTab">전체</button>
        {% for type_table in odsf_type%}
        <button class="dropdown-item" onclick="openTab(this)" title="{{ type_table['DataTypeName'] }}">{{ type_table["DataTypeName"] }}</button>
        {% endfor %}
      </div>
    </li>
  </ul>
</nav>
<div id="total_data_file" class="pdsf">
  {% include "task/task_my_submit_all.html" %}
</div>
{% for type_table in odsf_type %}
<div id="{{ type_table['DataTypeName'] }}" class="pdsf">
  {% include "task/task_my_submit_by_odt.html" %}
</div>
{% endfor %}