@font-face {
    src : url("NanumSquare_acR.ttf");
    font-family: "NanumSquare"
}

h1 { 
  font-family: "NanumSquare";
}

input[type="password"] {
  font-family: sans-serif !important;
}

input::placeholder {
  font-family: "NanumSquare";
}
