{% extends "./partials/layout.html" %}
{% block body %}

<h1 class="d-inline-block">내 정보</h1>
<br><br><br><br><br>
<form>
    <div class="form-group">
        <label class="form-group col-md-2">아이디(ID)</label>
        <input type="text" class="form-group col-md-2" disabled value="{{ user['Id'] }}">
    </div>
    <div class="form-group">
        <label class="form-group col-md-2">비밀번호</label>
        <input style="font-family: initial;" value="{{ user['Password'] }}" type="password" class="form-group col-md-2" disabled>
    </div>
<a type="button" style="margin-left:15px" class="btn btn-primary mr-2" href='/users/admin_edit'>수정</a>
</form>

    {% endblock %}