{% extends "./partials/layout.html" %}
{% block body %}
<head>
    <Title >font</Title>
    <meta charset="utf-8">
    <link href='../style.css' rel='stylesheet' >
</head>

<body style="font-family:NanumSquare">
<h1 class="d-inline-block">내 정보 수정</h1>
<br><br><br><br><br>
<form method="POST" action="/users/admin_edit">
    <div class="form-group">
        <label class="form-group col-md-2">아이디(ID)</label>
        <input value="{{ user['Id'] }}" type="text" class="form-group col-md-2" required name="id" disabled>
    </div>
    <div class="form-group">
        <label class="form-group col-md-2">비밀번호</label>
        <input value="" type="text" class="form-group col-md-2" required name="password">
    </div>
    <button type="submit" class="btn btn-primary">수정완료</button>
</form>
</body>
    {% endblock %}