{% extends "./partials/layout.html" %}
{% block body %}
</br>
</br>
<form method="POST" action="/submitter/agree">
    <div class="container">
        <div class="card">
            <h5 class="card-header" style="background-color: white;"><b>참여신청</b></h5>
            <div class="card-body" style="background-color: #d8e0e7;">
                <h5 class="card-title"><b>개인정보 수집•이용 동의서</b></h5>
                <p style="border: 1px solid  black; padding: 10px;" class="card-text">Earglass는 「개인정보보호법」에 의거하여, 아래와 같은 내용으로 개인정보를 수집하고 있습니다.<br>
                귀하께서는 아래 내용을 자세히 읽어 보시고, 모든 내용을 이해하신 후에 동의 여부를 결정해 주시기 바랍니다.<br></p>
                <p class="card-text" style="">개인정보의 수집 및 이용 동의서</p>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="agree" id="exampleRadios1" value="agree" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        동의
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="agree" id="exampleRadios2" value="disagree">
                    <label class="form-check-label" for="exampleRadios2">
                        미동의
                    </label>
                </div>
                <div class="invisible">
                    <input type="text" name="task_name" class="form-control" id="task_name" value="{{ task_name }}">
                </div>
            </div>
            </br>
            <button type="submit" class="btn btn-primary">제출</button>
        </div>
    </div>
</form>

{% endblock %}